@model IEnumerable<cognossystem_testes.Models.Empresas>

@{
    ViewBag.Title = "Empresas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Inclusao).ToString().Replace("_", " ")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Ultima_Alteracao).ToString().Replace("_", " ")
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Site)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Inclusao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Ultima_Alteracao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>

